#results-pane-container {
  width: 85%;
  height: auto;
  margin: 30px;
}

#results-pane-container > h1 {
  text-align: left;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 20px;
}

ol {
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
