#side-pannel {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

#side-pannel-search {
  padding-top: 35px;
  width: 85%;
	height: 48%;
}

#search-toolbar {
  background-color: white;
  border: solid 1px gray;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

i {
  color: gray;
}

i:active {
  color: #E8E8E8;
}

#search-toolbar > div {
  height: 100%;
  display: flex;
  align-items: center;
}

#address-input {
  width: 70%;
  padding-left: 5px;
}

#address-input > input {
	border: 0px;
	height: 25px;
	width: 100%;
}

#address-input > input:focus {
  outline-width: 0;
}

#search-button {
  height: 80%;
  border-right: solid 2px gray;
  padding-right: 10px;
  cursor: pointer;
}

#clear-search {
  padding-right: 10px;
  cursor: pointer;
}

.tool-tip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tool-tip .tool-tip-text {
    visibility: hidden;
    width: 100px;
    top: 170%;
    left: 100%;
    margin-left: -60px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tool-tip-text:after, .tool-tip-text:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tool-tip-text:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: black;
	border-width: 5px;
	margin-left: -5px;
}
.tool-tip-text:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: black;
	border-width: 5px;
	margin-left: -5px;
}

.tool-tip:hover .tool-tip-text {
    visibility: visible;
}

.search-result {
  background-color: white;
  border: solid 1px gray;
  border-top: 0px;
  padding: 5px;
}

.divide-line{
  width: 90%;
  display:block;
  border:none;
  color:white;
  height:3px;
  background:black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}
